.thisislove {
    background: url('http://wac.450f.edgecastcdn.net/80450F/popcrush.com/files/2012/05/william-eva-simons.jpg');
    color: #fff!important;
    height: 400px;
    font-size: 33px;
    text-align: center;
    font-weight: bold;
}

.thisislove div {
	color: #fff!important;
}
